{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<main class="container-fluid bg-light py-5">
    <section class="container">
        <h1 class="mb-5">Mot de passe oublié</h1>
        <div class="col-10 offset-1">
            {{ form(emailForm) }}
        </div>
    </section>
</main>
{% endblock %}