<h1>Bonjour et bienvenue sur AXL-JDR! Merci de bien vouloir confirmer votre e-mail!</h1>

<p>
    Merci de confirmer votre adresse e-mail en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse e-mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonne aventure!
</p>
