/* --------------------------------- */
/* --------- BACK OFFICE  ---------- */
/* --------------------------------- */

.mj-link {
    color: var(--primary-lighter) !important;
    font-weight: bold;
}

.mj-link:hover {
    color: var(--primary) !important;
    text-decoration: none;
}

.mj-link.active {
    color: var(--primary) !important;
}