/* -------------------- */
/* ----- BTN ICON ----- */
/* -------------------- */

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.btn-icon, .btn-icon-text {
    &.text-light-alpha:hover { color: var(--white); }
    &.text-accent:hover { color: var(--accent-light); }
    &.text-accent-alpha:hover { color: var(--accent); }
}

/* --------------------------- */
/* ----- BTN ICON + TEXT ----- */
/* --------------------------- */

.btn-icon-text {
    padding: 0.125rem;
}

/* ------------------------------------------------------- */
/* ----- BTN BASE : BOXED, OUTLINED, TRANSPARENT CTA ----- */
/* ------------------------------------------------------- */    

.btn-medium {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.btn-large {
    font-size: 1.2rem;
    padding: 0.70rem 1rem;
}

.btn-unstyled {
    border: 0;
    background: none;
}
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    &:hover {
        cursor: pointer;
    }
}

/* BOXED */

.btn-primary-style {
    border-image: url('../assets/img/ui/primary-button-red-stroke.png') 16 16 16 16 fill repeat;
    font-weight: bold;
    color: var(--white) !important;

    &:hover, &:active, &:target {
        filter: brightness(2.0);
        color: var(--white);
        text-decoration: none;    }
}

/* OUTLINED */

.btn-secondary-style {
    background-color: transparent;      
    font-weight: bold;
    color: var(--primary-lighter);
    border-radius: 4px;
    border: 2px solid var(--primary-lighter);
    &:hover, &:active, &:target {
        background-color: var(--primary-lighter);
        color: var(--white);
        text-decoration: none;    }
}

/* TRANSPARENT */

.btn-tertiary-style {
    background-color: transparent;     
    color: var(--primary-lighter);
    font-weight: bold;
    &:hover, &:active, &:target {
        color: var(--primary);
        text-decoration: underline;    }
}

/* DISABLED */

.btn-disabled {
    background-color: var(--lighter);
    border-color: var(--light-alpha);
}


/* UNSTYLED */

.btn-unstyle {
    border: 0;
    background: none;
}

/* ---------------------------- */
/* ----- BTN DISPLAY ICON ----- */
/* ---------------------------- */  

.btn-display-icon-light-alpha {
    z-index: 10;
    top: 96px;
    right: -160px;
    font-size: 8rem;
    text-decoration: none;
    color: var(--light-alpha);
    transition: 0.25s;
    &:hover {
        color: var(--white);
        transition: 0.25s;
    }
}

/* ---------------- */
/* ----- TABS ----- */
/* ---------------- */

#tabs {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    list-style: none;
    .tab {
        display: block;
        font-weight: bold;
        border-radius: 1rem 0.25rem;
        padding: 8px 14px;
        background-color: transparent;
        color: var(--primary-dark);
        &:hover { color: var(--primary); }
        &.active {
            font-weight: bold;
            color: var(--white);
            background-color: var(--primary-darker);
        }
    }
}

#sub-tabs {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    list-style: none;
    > li > a {
        display: block;
        font-weight: bold;
        padding: 8px 14px;
        color: var(--primary-dark);
        &:hover { color: var(--primary); }
        &.active {
            position: relative;
            font-weight: bold;
            color: var(--primary);
            border-bottom:  solid var(--primary);
        }
    }
}