/* --------------------- */
/* ----- PAGE CLAN ----- */
/* --------------------- */

#icon-mute-video {
    position: absolute;
    z-index: 5;
    top: 1rem;
    left: 2rem;
    color: var(--light-alpha);
}

#icon-mute-video:hover {
    cursor: pointer;
    color: var(--white);
}

#icon-play {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#left-part, #right-part {
    position: relative;
    z-index: 2;
}

#right-part {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
    margin: 0;
    padding: 1rem;
}

#right-part > p {
    color: var(--white);
    text-align: justify;
    margin: 0;
    margin-bottom: 2rem;
    margin-right: 2rem;
    padding: 0;
}


#zone-mon {
    display: block;
}

#overlay-video {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#banner-video {
    position: absolute;
    top: 0;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}