#icon-mute-video {
    position: absolute;
    z-index: 5;
    top: 1rem;
    left: 2rem;
    color: var(--light-alpha);
}

#icon-mute-video:hover {
    cursor: pointer;
    color: var(--white);
}

#icon-play {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#left-part, #right-part {
    position: relative;
    z-index: 2;
}

#zone-mon {
    display: block;
}

#overlay-video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 100%;
    object-fit: cover;
}

#banner-video {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 100%;
}

