#banner-icon-clan {
    position: absolute;
    z-index: 1;
    right: 2rem;
    top: 2rem;
}

#text-zone {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    color: white;
    text-shadow: 2px 2px 8px black;
}

#blur-zone {
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 90%;
    background-color: #000000;
    filter: blur(2rem);
    opacity: 0.4;
}

.on-top {
    z-index: 3;
}