/* ----------------------------------- */
/* --------- GENERAL EFFECTS --------- */
/* ----------------------------------- */    

.shadow-more {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

.rounded-8 { border-radius: 0.5rem; }



/* ------------------------- */
/* --------- MASKS --------- */
/* ------------------------- */    

.mask {
    mask-image:
        linear-gradient(to top,
        rgba(0,0,0,0.2),
        rgba(0,0,0,1),
        rgba(0,0,0,1),
        rgba(0,0,0,1)
        )
    ;
}

.mask-bg-dark {
    background-color: var(--black);
    border-radius: 4px;
}

.mask-bg-dark img {
    mask-image:
        linear-gradient(to top,
            rgba(0,0,0,0.25),
            rgba(0,0,0,0.50),
            rgba(0,0,0,1),
            rgba(0,0,0,1)
        )
    ;
}



/* --------------------------- */
/* --------- FILTERS --------- */
/* --------------------------- */    

.translucide {
    filter: opacity(0.30);
    transition: 0.5s;
}

.grayscale {
    filter: grayscale(100%);
    transition: 0.5s;
}

.darken {
    filter: brightness(0.5);
    transition: 0.5s;
}

.dead {
    filter:
        grayscale(100%)
        brightness(0.4)
        sepia(100%)
        hue-rotate(-50deg)
        saturate(300%)
    ;
}

.outlined {
    box-shadow:
        2px 2px 0 var(--flash-green),
        -2px -2px 0 var(--flash-green),
        2px -2px 0 var(--flash-green),
        -2px 2px 0 var(--flash-green)
    ;
}



/* ------------------------------ */
/* --------- ANIMATIONS --------- */
/* ------------------------------ */    

.hover-outline,
.hover-outline:hover {
    transition: 0.1s;
}

.hover-outline:hover {
    outline: 4px solid var(--blue);
}

.hover-zoom, .hover-zoom:hover { transition: 0.5s; }
.hover-zoom:hover { transform: scale(1.05); }

.hover-zoom-x2, .hover-zoom-x2:hover { transition: 0.33s; }
.hover-zoom-x2:hover { transform: scale(1.125); transition: 0.33s; }

.hover-opaque:hover {
    filter: opacity(1);
    transition: 0.5s;
}

.hover-shine:hover {
    filter: brightness(1.3);
    transition: 0.5s;
}

.hover-bright:hover {
    filter: brightness(1);
    transition: 0.5s;
}

.hover-blue:hover,
.hover-red:hover,
.hover-orange:hover,
.hover-violet:hover,
.hover-green:hover { transition: 0.25s; }

.hover-blue:hover { filter: invert(40%) sepia(100%) saturate(1000%) hue-rotate(180deg) brightness(0.9);}
.hover-red:hover { filter: invert(40%) sepia(100%) saturate(1000%) hue-rotate(-45deg) brightness(0.9);}
.hover-orange:hover { filter: invert(40%) sepia(100%) saturate(1000%) hue-rotate(0deg) brightness(0.9);}
.hover-violet:hover { filter: invert(40%) sepia(100%) saturate(1000%) hue-rotate(-120deg) brightness(0.9);}
.hover-green:hover { filter: invert(40%) sepia(100%) saturate(1000%) hue-rotate(60deg) brightness(0.9);}

.fa-animation-delay { --fa-animation-delay: 0.67s; }

.hover-stop:hover { animation-duration: 0s; }
