/* ---------------------- */
/* ----- FONT FACES ----- */
/* ---------------------- */

/* BODY */
@font-face {
    font-family: 'Barlow';
    src: url("../assets/fonts/Barlow-Regular-Semi-Condensed.ttf");
    font-weight: 400;
}

/* H1 DISPLAY TITLES */
@font-face {
    font-family: "Shogun";
    src: url("../assets/fonts/Shoguns-Clan-Edited-Accentued.otf");
}

@font-face {
    font-family: "Misaki";
    src: url("../assets/fonts/Misaki-Regular.otf");
}

/* H2 DISPLAY TITLES */
@font-face {
    font-family: "Present";
    src: url("../assets/fonts/Present-LT-Black-Condensed.otf");
}

/* H3 DISPLAY TITLES */
@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/Avenir-Black.ttf");
}

/* H4 DISPLAY TITLES */
@font-face {
    font-family: "Amerigo";
    src: url("../assets/fonts/Amerigo-Bold-BT.ttf");
}