/* --------------------- */
/* ------ FOOTER  ------ */
/* --------------------- */

footer {
    color: var(--lighter); }

#footer1 {
    min-height: 24vh;
    background-color: var(--secondary-pastel-darker);
    border-top: 1px solid var(--secondary-pastel-light);
}

#footer2 {
    min-height: 8vh;
    background-color: var(--secondary-pastel-darkest);
}

#footer1, #footer2 {
    display: flex;
    justify-content: center;
}

#footer1 ul, #footer2 ul {
    list-style:outside none none;
    padding: 0;
}

#social-medias { font-size: 2rem; }