/* ------------------ */
/* ----- FOOTER ----- */
/* ------------------ */

footer { color: var(--lighter); }

#footer1 {
    display: flex;
    justify-content: center;
    min-height: 24vh;
    background-color: var(--secondary-pastel-darker);
    border-top: 1px solid var(--secondary-pastel-light); }

#footer2 {
    display: flex;
    justify-content: center;
    min-height: 8vh;
    background-color: var(--secondary-pastel-darkest); }

#footer1 ul, #footer2 ul {
    list-style:outside none none;
    padding: 0; }

#footer1 a, #footer2 a {
    color: var(--light-alpha); }

#footer1 a:hover, #footer2 a:hover {
    color: var(--white) !important;
    text-decoration: underline; }

#social-medias {
    font-size: 2rem; }