/* ----------------- */
/* ----- FORMS ----- */
/* ----------------- */  

#preview-label, #preview-label-icon {
    display: block;
    position: relative;
    background-color: gray;
    text-align: center;
}

.browse-label {
    display: block;
    position: relative;
}

#filename, #filename_icon {
    position: absolute;
    z-index: 10;
    left: 16px;
    top: 8px;
}