/* ------------------------ */
/* ----- PAGE LIBRARY ----- */
/* ------------------------ */

#intro {
    border-radius: 1rem;
}

.item {
    padding: 0.5rem 1rem;
    color: var(--dark);
}

.item:hover {
    background-color: var(--accent-lightest);
    color: var(--dark);
}

.item-no-hover {
    padding: 0.5rem 1rem;
    color: var(--dark);
}

.list-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    color: var(--lightest);
    background-color: var(--gray);
}

.list-heading > div {
    text-align: center;
    padding: 0 .5rem;
    margin: 0;
}

.item-line {
    display: flex;
    flex-direction: row;
}

.item-line > div {
    text-align: center;
}

.item-name {
    color: var(--dark);
}

.item-description {
    text-align: justify;
    color: var(--gray);
}

#capacite {
    color: var(--dark);
    margin-left: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

#capacite ul, #effet-rappel ul {
    margin-top: 0.5rem;
    list-style-image: url('../assets/img/ui/bullet.png');
}

#capacite li, #effet-rappel li {
    padding: 0.125rem;
}

#effet-rappel {
    color: var(--dark);
    border-radius: 1rem;
    background-color: var(--accent-lightest);
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
    border: 1px solid #00000020;
}