/* ----- LINKS ----- */

a {
    color: var(--color-link);
    &:hover {
        color: var(--color-link-hover);
        text-decoration: none;
    }
}

.on-dark {
    --color-link: var(--color-linkondark);
    --color-link-hover: var(--color-linkondark-hover);
}

a.text-white50:hover { color: var(--color-white);}

.link-disabled {
    pointer-events: none;
}

.hover-no-under:hover { text-decoration: none; }

/* ---- TEXT BLOCKS CHAR LINKS  ---- */

a.scene-text {
    font-weight: bold;
    &:hover { text-decoration: none; }
}

a.character-icon, a.location-icon {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

a.character-icon { color: var(--color-secondary); }
a.location-icon { color: var(--purple); }

/* BACK OFFICE MJ LINKS TABS */

.mj-link {
    color: var(--color-primarylighter) !important;
    font-weight: bold;
    &:hover {
        color: var(--color-primary) !important;
        text-decoration: none;
    }
    &.active { color: var(--color-primary) !important; }
}