/* --------------------------- */
/* --------- LINKS  ---------- */
/* --------------------------- */

:root a:hover {
    text-decoration: none;
}

/* ---- Common Links ---- */

.link-accent {
    color: var(--accent-dark);
}

.link-accent:hover {
    color: var(--accent);
    text-decoration: none;
}

.link-primary {
    color: var(--primary) !important;
}

.link-primary:hover {
    color: var(--accent) !important;
}

.link-secondary {
    color: var(--secondary-dark) !important;
}

.link-secondary:hover {
    color: var(--secondary-light) !important;
}

.link-white {
    color: var(--white);
}

.link-white:hover {
    color: var(--secondary-light);
    text-decoration: none;
}

.hover-no-under:hover {
    text-decoration: none;
}


/* --------------------------------- */
/* --------- BACK OFFICE  ---------- */
/* --------------------------------- */


/* ---- Administration Panel Nav  ---- */

.mj-link {
    color: var(--primary-lighter) !important;
    font-weight: bold;
}

.mj-link:hover {
    color: var(--primary) !important;
    text-decoration: none;
}

.mj-link.active {
    color: var(--primary) !important;
}



/* --------------------------- */
/* --------- PAGES  ---------- */
/* --------------------------- */


h5 a:hover,
h4 a:hover,
h3 a:hover,
h2 a:hover,
h1 a:hover,
a.display-4:hover,
a.display-3:hover,
a.display-2:hover,
a.display-1:hover
{
    text-decoration: none;
    color: var(--blue);
}


/* ---- TEXT BLOCKS CHAR LINKS  ---- */

a.character-icon,
a.location-icon {
    display: inline-block;
    color: var(--blue);
    font-weight: bold;
    text-decoration: none;
}

a.location-icon {
    color: var(--purple);
}

a.scene-text {
    font-weight: bold;
}

a.scene-text a:hover {
    text-decoration: none;
}


/* ---- FOOTER  ---- */

.footer-link { color: var(--light-alpha) !important; }
.footer-link:hover {
    color: var(--white) !important;
    text-decoration: underline;
}

#social-medias a {
    color: var(--white) !important;
}

#social-medias a:hover {
    color: var(--primary) !important;
}