/* ------- BODY TEXT  ------- */

:root {
  --fontsize-mini: 0.75rem;
  .text-mini { font-size: var(--fontsize-mini); }

  --fontsize-small: 0.8rem;
  .text-small { font-size: var(--fontsize-small); }

  --fontsize-regular : 1rem;
  .text-regular { font-size: var(--fontsize-regular); }

  --fontsize-normal : 1.125rem;

  --fontsize-medium: 1.2rem;
  .text-medium { font-size: var(--fontsize-medium); }

  --fontsize-plus: 1.25rem;
  .text-plus { font-size: var(--fontsize-plus); }

  --fontsize-pluser: 1.4rem;
  --fontsize-large: 1.5rem;
  .text-large { font-size: var(--fontsize-large); }

  --fontsize-big: 1.75rem;
  .text-big { font-size: var(--fontsize-big); }

  --fontsize-bigger: 2rem;
  --fontsize-huge: 3rem;
  --fontsize-hero: 4rem;

  --leading-1: 1;
  --leading-12: 1.2;
  --leading-14: 1.4;
  --leading-16: 1.6;
  --leading-17: 1.7;
  --leading-175: 1.75;
  --leading-18: 1.8;
  --leading-2: 2;
}

html, body {
  font-size: 18px;
  font-family: 'Barlow';
  line-height: 1.4;
  color: var(--color-gray-slate);
}

@media (max-width: 991.98px) { html, body { font-size: 16px; } }
@media (max-width: 575.98px) { html, body { font-size: 15px; } }
@media (max-width: 480px) { html, body { font-size: 14px; } }


/* ----- PARAGRAPH ----- */

p.text-small {
  line-height: 1.6;
}

p.text-regular { line-height: 1.60; }

p.text-medium {
  line-height: 1.75;
}

p > mark {
  color: unset;
}

/* --------- TEXT EFFECTS  ---------- */

.first-letter-upper::first-letter { text-transform: uppercase; }

label.required::after {
  content: " *requis";
  color: var(--primary, #c00);
  font-size: 0.75em;
  font-weight: normal;
  margin-left: 0.25rem;
}

.font-regular {
  font-weight: 500 !important;
}

strong, .extrabold {
  font-weight: 900 !important;
  text-shadow: 0.5px 0 0 currentColor;
}

.text-shadow {
  text-shadow: 2px 2px 8px black !important;
}

.number-skillrank-effect {
  font-family: "Shogun";
}

.quote {
  font-size: var(--fontsize-plus);
  font-style: italic;
  margin-bottom: 1rem;
  color: var(--color-white-50);
  text-shadow:
    2px 2px 6px black,
    0px 0px 2rem black;
}

@media (max-width: 575.98px) {
  .quote {
    font-size: var(--fontsize-regular);
  }
}

.text-xp {
  color: var(--flash-blue);
  text-shadow:
    0px 0px 8px var(--color-black);
}

.text-your-xp {
  color: var(--green);
  text-shadow:
    1px 1px 0 var(--flash-green),
    -1px -1px 0 var(--flash-green),
    1px -1px 0 var(--flash-green),
    -1px 1px 0 var(--flash-green);
}

.text-dead {
  color: var(--primary-darker);
  text-shadow:
    1px 1px 0 var(--flash-red),
    -1px -1px 0 var(--flash-red),
    1px -1px 0 var(--flash-red),
    -1px 1px 0 var(--flash-red);
}
