/* -------------------------------- */
/* --------- FONT FACES  ---------- */
/* -------------------------------- */

@font-face {
    font-family: "Shogun";
    src: url("../assets/fonts/shoguns-clan-accentued.otf");
}

@font-face {
    font-family: "Hirosh";
    src: url("../assets/fonts/hirosh.otf");
}

@font-face {
    font-family: "Present";
    src: url("../assets/fonts/present-it-black.otf");
}



/* -------------------------------- */
/* ------- BODY TEXT SIZES  ------- */
/* -------------------------------- */

html, body {
    font-size: 16px;
    line-height: 1.6;
}

@media (max-width: 1200px) { html, body { font-size: 16px; } }
@media (max-width: 992px) { html, body { font-size: 15px; } }
@media (max-width: 576px) { html, body { font-size: 14px; } }
@media (max-width: 480px) { html, body { font-size: 13px; } }

.text-mini {
    font-size: 0.6rem;
}

.text-small {
    font-size: 0.8rem;
}

.text-medium {
    font-size: 1.2rem;
}

p.text-medium {
    line-height: 1.8;
}

.text-large {
    font-size: 1.5rem;
}

.text-big {
    font-size: 2rem;
}

.text-fat {
    font-size: 3rem;
}



/* -------------------------------- */
/* ------ TITLE TEXT SIZES  ------- */
/* -------------------------------- */

.title-mini {
    font-size: 2rem;
}

@media (max-width: 1200px) { .title-mini { font-size: 2rem; } }
@media (max-width: 992px) { .title-mini { font-size: 1.75rem; } }
@media (max-width: 576px) { .title-mini { font-size: 1.5rem; } }
@media (max-width: 480px) { .title-mini { font-size: 1.25rem; } }

.title-small {
    font-size: 3rem;
}

@media (max-width: 1200px) { .title-small { font-size: 3rem; } }
@media (max-width: 992px) { .title-small { font-size: 2.5rem; } }
@media (max-width: 576px) { .title-small { font-size: 2rem; } }
@media (max-width: 480px) { .title-small { font-size: 1.75rem; } }

.title-medium {
    font-size: 6rem;
}

@media (max-width: 1200px) { .title-medium { font-size: 7rem; } }
@media (max-width: 992px) { .title-medium { font-size: 6rem; } }
@media (max-width: 576px) { .title-medium { font-size: 5rem; } }
@media (max-width: 480px) { .title-medium { font-size: 4rem; } }

.title-large {
    font-size: 9rem;
}

@media (max-width: 1200px) { .title-large { font-size: 9rem; } }
@media (max-width: 992px) { .title-large { font-size: 8rem; } }
@media (max-width: 576px) { .title-large { font-size: 6rem; } }
@media (max-width: 480px) { .title-large { font-size: 4.5rem; } }



/* -------------------------------- */
/* ----- DISPLAY TEXT SIZES  ------ */
/* -------------------------------- */

@media (max-width: 1200px) { .display-1 { font-size: 4.25rem; } }
@media (max-width: 992px) { .display-1 { font-size: 4rem; } }
@media (max-width: 576px) { .display-1 { font-size: 3.75rem; } }
@media (max-width: 480px) { .display-1 { font-size: 3.5rem; } }

@media (max-width: 1200px) { .display-2 { font-size: 4rem; } }
@media (max-width: 992px) { .display-2 { font-size: 3.75rem; } }
@media (max-width: 576px) { .display-2 { font-size: 3.5rem; } }
@media (max-width: 480px) { .display-2 { font-size: 3.25rem; } }

@media (max-width: 1200px) { .display-3 { font-size: 4rem; } }
@media (max-width: 992px) { .display-3 { font-size: 3.5rem; } }
@media (max-width: 576px) { .display-3 { font-size: 3.25rem; } }
@media (max-width: 480px) { .display-3 { font-size: 3rem; } }

@media (max-width: 1200px) { .display-4 { font-size: 3.5rem; } }
@media (max-width: 992px) { .display-4 { font-size: 3.25rem; } }
@media (max-width: 576px) { .display-4 { font-size: 3rem; } }
@media (max-width: 480px) { .display-4 { font-size: 2.75rem; } }



/* ---------------------------------- */
/* --------- TEXT EFFECTS  ---------- */
/* ---------------------------------- */

.text-shadow {
    text-shadow: 2px 2px 8px black !important;
}
      
.clip-text {
        font-size: 1rem;
        font-weight: 700;
}
          
@supports(background-clip:text) or (-webkit-background-clip:text) {
        .clip-text {
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                background-image: url('../assets/img/ui/back-text-fire-burning.gif');
                background-size: cover;
                background-position: center;
        }
}

.number-skillrank-effect {
    font-family: "Shogun";
}

.number-session-caroussel{
    z-index: 10;
    right: 8px;
    bottom: 0px; 
    color: var(--white);
    font-size:2.5rem;
    font-weight: bold;
    text-shadow: 0px 2px 8px black;
}

.quote {
    font-size: 1.25rem;
    font-style: italic;
    margin-bottom: 1rem;
    text-shadow:
        2px 2px 6px black,
        0px 0px 2rem black;
}

@media (max-width: 1200px) { .quote { font-size: 1.25rem; } }
@media (max-width: 992px) { .quote { font-size: 1.25rem; } }
@media (max-width: 576px) { .quote { font-size: 1rem; } }
@media (max-width: 480px) { .quote { font-size: 1rem; } }

.text-xp {
    color: var(--cyan);
    text-shadow:
        1px 1px 0 var(--flash-cyan),
        -1px -1px 0 var(--flash-cyan),
        1px -1px 0 var(--flash-cyan),
        -1px 1px 0 var(--flash-cyan);
}

.text-your-xp {
    color: var(--green);
    text-shadow:
        1px 1px 0 var(--flash-green),
        -1px -1px 0 var(--flash-green),
        1px -1px 0 var(--flash-green),
        -1px 1px 0 var(--flash-green);
}

.text-dead {
    color: var(--primary-dark);
    text-shadow:
        1px 1px 0 var(--flash-red),
        -1px -1px 0 var(--flash-red),
        1px -1px 0 var(--flash-red),
        -1px 1px 0 var(--flash-red);
}



/* ----------------------------------- */
/* --------- TITLE EFFECTS  ---------- */
/* ----------------------------------- */

.big-title-effect {
    font-family: "Shogun";
    color: var(--white);
    text-align: center;
    margin: 0;
    text-shadow: 4px 4px 2rem black;
}

.session-title-container-effect {
    z-index: 2;
    color: var(--white);
    font-family: "Present";
    font-weight: 300;
    text-shadow: 4px 4px 2rem black;
    text-align: center;
    background-image: url('../assets/img/ui/back-title.png');
    background-size: 100% 130%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.text-daytime-overtop-container {
    z-index: 2;
    color: var(--white);
    top: -5rem;
    width: 90%;
}

.text-daytime-overtop-container h3,
.text-daytime-overtop-container h5 {
    margin-bottom: 0;
}