/* ----- ESPACE DE COMPTE --- */

@media (min-width: 992px) {
  .other-page .card-page { padding: 2rem; }
}

.account-infos {
  margin: 0;

  dt {
    margin-top: 1rem;
    font-weight: normal;
    color: var(--color-gray);
  }

  dd {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 0 0 1rem;
  }
}

.account-main {
  display: flex;
  align-items: center;
  gap: 1rem;

  > a { flex: 0 0 8rem; }
  > a img { width: 100%; border-radius: 0.5rem; }

  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }
}

.account-choice {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  margin: 1.5rem 0 2rem;

  label { margin: 0 }
  select { flex: 1 1 10rem }
}

.account-characters {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--gap, 1rem);

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.25rem;
  }

  img {
    width: 100%;
    max-width: 8rem;
    border-radius: 0.5rem;
  }
}

.account-choice-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  font-size: var(--fontsize-small);
}
