<!-- MJ - BTN ICON+TEXT - Add -->

{% set path = 'admin_' ~ entity|lower ~ '_create' %}
{% set url = '?redirect=' ~ entity|lower ~ '&' ~ options|default('') %}

{% if app.user and is_granted("ROLE_MJ") %}
    <a href="{{ path(path) }}{{url}}" class="btn-primary-style btn-medium absolute {{position|default('right-snap')}}" >
        <i class="fas fa-plus-square fa-fade" alt="Icône Ajouter"></i>&nbsp;&nbsp;Ajouter {{label_one}}
    </a>
{% endif %}