<!-- MJ - BTN ICON+TEXT - Add -->

{% if position is not defined %}
    {% set position = 'right-corner-snap' %}
{% endif %}

{% if app.user and is_granted("ROLE_MJ") %}
    <div class="absolute {{position}}">
        <a href="{{ path('admin_' ~ element|lower ~ '_create') }}?redirect={{element|lower}}" class="btn-primary-style btn-medium" >
            <i class="fas fa-plus-square fa-fade" alt="Icône Ajouter"></i>&nbsp;&nbsp;Ajouter {{element}}
        </a>
    </div>
{% endif %}