{% if app.user and is_granted("ROLE_MJ") %}
    <div class="d-flex justify-content-center mt-3">
        <div class="text-right mb-3">
            <a href="{{ path('admin_scene_create') }}?numero={{numero_scene}}&episodeID={{episode.id}}&redirect=episode">
                <i class="fas fa-plus-square" alt="Icône Inserer Scène" title="Insérer une Scène"></i>&nbsp;&nbsp;Insérer une Scène
            </a>
        </div>
    </div>    
{% endif %}