<!-- SEPARATEUR -->
<div class="d-flex justify-content-center">
    <div class="d-flex align-items-center division text-center">
        <div class="col py-0 px-2"><hr></div>
        <div class="division-motif"><img src="{{ asset('assets/img/ui/ornament-1.png') }}" class="img-fluid" alt="ornament" /></div>
        <div class="col py-0 px-2"><hr></div>
    </div>
</div>