<!-- SEPARATEUR -->
<div class="d-flex justify-content-center">
    <div class="d-flex align-items-center divider-40 text-center">
        <div class="col py-0 px-2"><hr></div>
        <div><img src="{{ asset('assets/img/ui/ornament-1.png') }}" class="icon-ornament" alt="image ornament" /></div>
        <div class="col py-0 px-2"><hr></div>
    </div>
</div>