<nav class="nav justify-content-center align-items-center">

    {% if app.user and is_granted("ROLE_MJ") %}
    
        <!-- MJ NAV TABS LINKS -->
        {% set navs = {
            'Saisons': {
                'element': 'saison',
                'label': 'Saisons',
                'genre': 'F',
            },
            'Chapitres': {
                'element': 'chapitre',
                'label': 'Chapitres',
                'genre': 'M',
            },
            'Episodes': {
                'element': 'episode',
                'label': 'Épisodes',
                'genre': 'M',
            },
            'Scènes': {
                'element': 'scene',
                'label': 'Scènes',
                'genre': 'F',
            },
            'Clans': {
                'element': 'clan',
                'label': 'Clans',
                'genre': 'M',
            },
            'Familles': {
                'element': 'famille',
                'label': 'Familles',
                'genre': 'F',
            },
            'Archive': {
                'element': 'archive',
                'label': 'Archives',
                'genre': 'F',
            },
            'Lieux': {
                'element': 'lieu',
                'label': 'Lieux',
                'genre': 'M',
            },
            'Lores': {
                'element': 'lore',
                'label': 'Lores',
                'genre': 'M',
            },
            'Classes': {
                'element': 'classe',
                'label': 'Classes',
                'genre': 'F',
            },
            'Écoles': {
                'element': 'ecole',
                'label': 'Écoles',
                'genre': 'F',
            },
            'Rule': {
                'element': 'rule',
                'label': 'Rules',
                'genre': 'F',
            },
            'Bibliothèques': {
                'element': 'library',
                'label': 'Bibliothèques',
                'genre': 'F',
            },
            'Avantages/Désavantages': {
                'element': 'avantage',
                'label': 'Avantages / Désavantages',
                'genre': 'M',
            },
            'Compétences': {
                'element': 'competence',
                'label': 'Compétences',
                'genre': 'F',
            },
            'Objets': {
                'element': 'objet',
                'label': 'Objets',
                'genre': 'M',
            },
            'Sorts': {
                'element': 'sort',
                'label': 'Sorts',
                'genre': 'F',
            },
            'Fiches': {
                'element': 'fiche',
                'label': 'Fiches',
                'genre': 'F',
            },
            'Personnages': {
                'element': 'personnage',
                'label': 'Personnages',
                'genre': 'M',
            },
        }
        %}

        {% for nav in navs %}
            {% set element, label, genre = nav['element'], nav['label'], nav['genre'] %}
            {{ include('/back_office/btn-mj-tab-link.html.twig') }}
        {% endfor %}

    {% endif %}

    {% if app.user and is_granted("ROLE_ADMIN") %}
    <!-- ADMIN NAV TABS LINKS -->

        <a class="nav-link admin-link{% if app.request.get('_route') == 'admin_utilisateur'
                            or app.request.get('_route') == 'admin_utilisateur_create'
                            or app.request.get('_route') == 'admin_utilisateur_edit' %}active{% endif %}" 
                            href="{{ path('admin_utilisateur') }}">Utilisateurs</a>
                            
    {% endif %}

</nav>